<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <title>RaggyMax Dolls</title>
    <meta charset="utf-8">

    <!--set the viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap css cdns-->
    <link rel="stylesheet" href="plugins/bootstrap-3.3.6-dist/css/bootstrap.min.css">

    <!--jQuery cdn-->
    <script src="plugins/jquery-2.2.1.min.js"></script>

    <!--now bootstrap-->
    <script src="plugins/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

    <!--cookies-->
    <script src="plugins/js-cookie-master/src/js.cookie.js"></script>

    <!--my angular controllers-->
    <!--angular-->
    <script src="plugins/angular.min.js"></script>
    <!-- <script src="plugins/angular-route.min.js"></script> -->
    <script src="js/angapps.js"></script>
    <!-- <script src="js/stockctrl.js"></script> -->

    <!--my script file-->
    <script src="js/raggymax.js"></script>


    <!--Google fonts-->
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>

    <!--link to our style sheet-->
    <link rel="stylesheet" href="css/raggymax.css" type="text/css">


  </head><!--end of the head-->

<!--call the view cart method on loading the body-->
<body ng-controller="SpecialsController">



<!--bootstrap container-->
  <div class="container-fluid">


    <!-- first row with 2 columns 4 and 8 slots wide-->
    <div class="row">

      <div class="col-md-12">
      <img class="rtop" alt="Ragdoll image" src="img/dollface.jpg" height="90px" width="100%" />
      </div><!--end of col 1-->
    </div><!--end of row 1-->

<!--second row full 12 width for our navbar-->
  <div class="row">

  <div class="col-md-12">
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="navbar-header">

          <!--the text and button isn't displayed unless bootstrap not running-->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>

          <!--Brand marker in top left-->
          <a class="navbar-brand" href="shop">Home</a>
          <!--navbar extra-->
          <a class="navbar-brand bsktLink navbar-right" href="checkout"><span class="glyphicon glyphicon-shopping-cart"></span></a>


      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="specialorders">Our Special Order Dolls</a></li>
            <li><a href="map">Where to find us</a></li>
          </ul><!--end of left nav bar-->



          <!--search bar - would like to get this actually working?-->
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default" onclick="searchBtnAction()">
              Search
            </button>
          </form>

          <!--STUFF TO THE RIGHT OF THE NAVBAR-->
          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Log In or Register<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li><a href="login">Log In</a></li>
                <li><a href="register">Register</a></li>
              </ul>
            </li>

          </ul><!--end of right nav-->
      </div>

      </nav>
    </div><!--end of column-->
  </div><!--end of row 2-->

<h1>Your Shopping Basket</h1>
<!--Link back to the main shop page-->


<!-- an extra row for checkout panel instead of a panel to the side-->
<!--Empty Basket-->
<div class="row">
  <div class="col-md-12">
    <div id="emptyBasket" ng-if="purchases===0">
      <div class="jumbotron">
        <h3>Your basket is empty</h3>
      </div>
    </div>
  </div><!--end colmd12-->
</div><!--end row-->

<!--Basket with products in-->
<div class="row">
  <div class="col-md-12">

<div id="carts" ng-if="purchases>0">
	<table ng-repeat="product in products" id="cart" class="table table-hover table-condensed"  ng-if="product.total>0" >
    				<thead>
						<tr>
							<th style="width:35%">Product</th>
							<th style="width:25%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-3 hidden-xs"><img ng-src="img/{{product.image}}" alt="..." class="img-responsive"/></div>
									<div class="col-sm-9">
										<h4 class="nomargin">{{product.name}}</h4>
                    information
									</div>
								</div>
							</td>
							<td data-th="Price">{{product.price}}</td>
							<td data-th="Quantity">
								<p class="form-control text-center">{{product.total}}</p>
							</td>
							<td data-th="Subtotal" class="text-center">£{{product.subtotal}}</td>
							<td class="actions" data-th="">
								<button class="btn btn-danger btn-md" ng-click="removeAll($index)"><i class="fa fa-trash-o"> Remove</i></button>
							</td>
						</tr>
					</tbody>
				</table>

        <table style="width:100%;">
            <tr>
              <td><a href="index.html" class="btn btn-warning">Continue Shopping</a></td>
              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-center"><strong style="font-size:2em;">Total: £{{overall}}</strong></td>
              <td><a href="#" class="btn btn-success btn-block">Checkout</a></td>
            </tr>
        </table>


		</div><!--end cart
	</div><!--end colmd12-->
</div><!--end row-->



  </div><!--end of container-->



</body>

</html>
